/* resume.css */

title {
	text-align: center;
	color: black;
	font-size: 60px;
	padding: 10px;
	text-decoration: underline;

}

h3 {
	text-align: center;
}

body {
	background-color: lightblue;
	font-family: helvetica;
	padding: 20px;
	margin-left: 5%;
	margin-right: 100px;
}

p {
	margin-left: 30px;
	margin-right: 50%;
}